 /* Container for pagination */
 .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Style for each pagination button */
  .pagination button {
    background-color: #2c3e50; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Adjust the padding */
    margin: 0 5px; /* Space between buttons */
    border-radius: 50px; /* Circular design */
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Style when the button is hovered */
  .pagination button:hover {
    background-color: #34495e; /* Darker shade on hover */
    transform: scale(1.1); /* Slightly increase the size on hover */
  }
  
  /* Style for the disabled pagination button */
  .pagination button:disabled {
    background-color: #7f8c8d; /* Gray color for disabled button */
    cursor: not-allowed; /* Change cursor to indicate it is not clickable */
  }
  
  /* Optional: Style for the current page text */
  .pagination span {
    font-size: 16px;
    font-weight: 600;
    color: #2c3e50;
    margin: 0 10px;
  }

  /* Dans votre fichier CSS */
.form-control[type="date"] {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .modal-body {
    padding: 1.5rem;
  }